<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="newlayout.css" />
    <title>Main</title>
  </head>

  <body>
    <!-- ----------------------------------------------- -->
    <div class="l">
      <div class="topBanner">
        <div class="center">
          <h1 class="mainHeaderText">Song Game</h1>
          <div class="subText">
            <p class="Small">
              Request songs from an artist by using the search bar below. Scroll
              down, and pick the fake song out of the line up!
            </p>
            <div class="f">
              <form action="/songs" method="get">
                <label for="artist_name">Enter Artist Name: </label>
                <br /><br />
                <input type="text" name="artist_name" />
                <input type="submit" value="OK" />
                <!-- will go to /songs?artist_name="(entered text)" -->
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- ----------------------------------------------- -->
      <div class="gridMe">
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
